{% extends "admin_panel/partials/blank-page.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
            <div class="row icons-list">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <a href="" style="text-decoration: none ; color: black"><i class="mdi mdi-account"></i> Users(کاربران)</a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <a href="" style="text-decoration: none ; color: black"><i class="mdi mdi-apps-box"></i> products(محصولات)</a>
                </div>
            </div>
    </div>
</div>
{% endblock %}