{% extends "admin_panel/partials/blank-page.html" %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Striped Table</h4>
    <p class="card-description"> Add class <code>.table-striped</code>
    </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> profile </th>
          <th> Title </th>
          <th> description </th>
{#          <th> Deadline </th>#}
        </tr>
      </thead>
      <tbody>
      {% for obj in object_list %}
        <tr>
          <td class="py-1">
              <a href="products/{{ obj.id }}" style="text-decoration: none"><img src="{{obj.image.url}}" alt="image"></a>
          </td>
          <td><a href="products/{{ obj.id }}" style="text-decoration: none ; color: black">{{ obj.title }}</a> </td>
            <td> <a href="products/{{ obj.id }}" style="text-decoration: none ; color: black">{{ obj.description|truncatechars:20 }} </a></td>
{#          <td> May 15, 2015 </td>#}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}