<!DOCTYPE html>
{% load static %}
{% load render_partial %}
<html lang="en">
{% include 'admin_panel/partials/_Header_ref.html' %}
  <body>
    <div class="container-scroller">
      {% include 'admin_panel/partials/_navbar.html' %}
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        {% render_partial "eshop_admin.views._sidebar_partial" %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            {% block content %}
            {% endblock %}
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
              <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
    </div>
    {% include 'admin_panel/partials/_Footer_ref.html' %}
  </body>
</html>